@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Questrial', sans-serif;
}
.fps {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 10px;
}
.coords {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in;
    color: white;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
input[type="text"] {
    border: none;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    padding: 6px;
    outline: none;
    transition: all 0.2s linear;
    width: 150px;
    margin-right: 50px;
}
input[type="text"]:focus {
    opacity: 1;
    background: rgba(255, 255, 255, 1);
}
input[type="submit"] {
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.5);

    border: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    height: 100%;
    width: 50px;
    outline: none;
    transition: all 0.2s linear;
    cursor: pointer;
}
input[type="submit"]:hover { 
    opacity: 1;
    background: rgba(255, 255, 255, 1);
}
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    transition: all 0.3s ease-in;
}

.skin-select {
    background: rgba(100, 100, 100, 0.7);
    border-radius: 10px;
    padding: 10px;
    position: relative;
}